@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
  background-color: #f1f3f4;
  font-family: 'Noto Serif', serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  font-family: ;
}

.title{
  margin:5px;
  font-size: 1.5em;
}
.about {
  font-size: 0.8em;
  max-width: 300px;
}
.prose ul{
  list-style-type: none;
}
.prose ul li{
  margin:5px;
  font-size: 1.2em;
}
.prose ul li a {
  text-decoration: none;
  font-size: 1em; 
  margin:0;
  color: #007892;
}
.prose ul li p {
  font-size: 0.7em;
  margin:0;
}
.prose ul li a:hover{
  color: #204051;
}
